@import ../src/sass/variables
@import ../src/sass/mixin/button

.p-hero
  display: block
  position: relative
  background: lighten($color-primary, 10%)
  padding: 120px 0
  margin-bottom: 80px

  .title
    color: $white
    font-weight: 100
    font-size: 56px

  .description
    color: $white
    font-weight: 100
    font-size: 18px

  .button
    +button-style(18px, 4px 24px, 4px)
    +button-color($white, lighten($color-primary, 10%))
    width: 140px
    font-weight: 100

.p-footer
  display: block
  position: relative
  background: $gray-lighter
  padding: 40px 0
  margin-top: 80px
