/** Bar **/

.rig-bar
  display: block
  position: relative
  width: 100%
  z-index: 20

  > .inner
    display: block
    position: relative
    background: rgba($color-primary, 0.9)
    color: $white
    width: 100%
    height: 44px
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1)

    .title
      display: block
      position: relative
      width: 100%
      height: 44px
      padding: 0
      margin: 0
      font-size: ceil($font-size-raw * 1.25)+px
      font-style: $font-style
      font-weight: $font-weight
      line-height: 44px
      text-align: center

    .bar-items
      display: block
      position: absolute
      width: 100%
      top: 0
      left: 0
      +divided-contents($space, item)
      a, link
        +link($white)
      i
        font-size: ceil($font-size-raw * 2.5)+px
      .item
        font-size: 14px
        line-height: 44px

  &.fixed
    position: fixed
    left: 0
    &.fixed-top
      top: 0
    &.fixed-bottom
      bottom: 0
      box-shadow: inset 0 1px 0 rgba(0,0,0,0.1)

.rig-bar-fixed-margin-top
  margin-top: 44px
.rig-bar-fixed-padding-top
  padding-top: 44px
.rig-bar-fixed-margin-bottom
  margin-bottom: 44px
.rig-bar-fixed-padding-bottom
  padding-bottom: 44px
