/** List **/

.rig-list
  display: block
  position: relative
  width: 100%

  .rig-list-item
    display: block
    position: relative
    width: 100%

    > .inner
      display: block
      position: relative
      background: $white
      color: $text-color
      width: 100%
      height: 44px
      border-bottom: 1px solid $gray-lighter

      .contents
        display: block
        position: absolute
        width: 100%
        height: 44px
        top: 0
        line-height: 44px
        +divided-contents($space)

    &:first-of-type
      > .inner
        border-top: 1px solid darken($gray-lighter, 10%)
    &:last-of-type
      > .inner
        border-bottom: 1px solid darken($gray-lighter, 10%)

  &.selectable
    .rig-list-item
      > .inner
        cursor: pointer
        &:hover,
        &:focus,
        &:active,
        &.active
          background: $gray-lighter
        a
          color: $text-color
