/** Form **/

.label
  +label($font-size, 5px 0 5px 0, 0 $space 0 $space)
  font-family: $font-family
  font-style: $font-style
  font-weight: $font-weight

.input
  +input-shape($font-size, 4px 8px 4px 8px, $radius)
  +input-color(transparent, $gray-darker)
  +placeholder-color($gray-light)
  font-family: $font-family
  font-style: $font-style
  font-weight: $font-weight
  &.block
    display: block
    width: 100%

.select
  +select-shape($font-size, 4px 8px 4px 8px, $radius)
  +select-color(transparent, $gray-darker)
  font-family: $font-family
  font-style: $font-style
  font-weight: $font-weight
  &.block
    display: block
    width: 100%
