/** Form **/

.input
  +input-shape(ceil($font-size-raw)+px, 4px 8px 4px 8px, $radius)
  +input-color($gray-light, $gray-darker)
  +placeholder-color($gray)
  &.block
    display: block
    width: 100%

.select
  +select-shape(ceil($font-size-raw)+px, 4px 8px 4px 8px, $radius)
  +select-color($gray-light, $gray-darker)
  &.block
    display: block
    width: 100%
