// Rigging of Mixin //

// Typography

// Link
@mixin link($color: blue)
  color: $color
  text-decoration: none
  cursor: pointer
  &:hover,
    color: darken($color, 10%)
  &:focus,
  &:active,
  &.active
    color: rgba($color, 0.5)
  &.disabled
    color: lighten($color, 10%)

// Heading
@mixin heading($font-size: 16px, $font-weight: 300, $margin: 20px 0 10px 0)
  display: block
  padding: 0
  margin: $margin
  font-size: $font-size
  font-weight: $font-weight
  font-style: normal
  line-height: 1.6


// View

@mixin view($width: 100%, $height: 100%, $backgrond-color: transparent, $color: #333)
  display: block
  position: relative
  background: $backgrond-color
  color: $color
  width: $width
  height: $height
  overflow: scroll


// Grid

@mixin container($small, $middle, $large)
  display: block
  position: relative
  width: 100%
  padding: 0
  margin: 0

  @media #{$small}
    &
      width: 100%
      padding: 0
      margin: 0
  @media #{$middle}
    &
      width: 90%
      padding: 0
      margin: 0 auto
  @media #{$large}
    &
      width: 80%
      padding: 0
      margin: 0 auto

@mixin grid-row($divide: 12, $space-raw: 10, $grid-name: grid)
  display: flex
  position: relative
  width: 100%
  padding: ($space-raw / 2)+px
  margin: 0
  & + &
    padding-top: 0
    margin-top: (($space-raw / 2) * -1)+px
  .#{$grid-name}
    flex 1 1 0
    width: 100%
    padding: ($space-raw / 2)+px
    overflow: hidden
    @for $i from 1 through $divide
      &.#{$grid-name}-#{$i}
        flex: 0 0 (100 / $divide * $i)+%
        max-width: (100 / $divide * $i)+%
      &.#{$grid-name}-offset-#{$i}
        margin-left: (100 / $divide * $i)+%


// Button

@mixin button-shape($font-size: 16px, $padding: 4px 16px 4px 16px, $radius: 4px)
  display: inline-block
  padding: $padding
  margin: 0
  border-radius: $radius
  font-size: $font-size
  line-height: 1.5
  cursor: pointer
  &.disabled
    cursor: default

@mixin button-color($background-color: #999, $color: #fff)
  background: $background-color
  color: $color
  border-width: 1px
  border-style: solid
  border-color: transparent
  outline: none
  &:hover
    background: darken($background-color, 10%)
  &:focus,
  &:active,
  &.active
    background: rgba($background-color, 0.5)
  &.disabled
    background: mix($background-color, #ccc)
    color: mix($color, #ccc)

@mixin button-ghost-color($color: #999)
  background: transparent
  color: $color
  border-width: 1px
  border-style: solid
  border-color: $color
  outline: none
  &:hover
    color: darken($color, 10%)
    border-color: darken($color, 10%)
  &:focus,
  &:active,
  &.active
    color: rgba($color, 0.5)
    border-color: rgba($color, 0.5)
  &.disabled
    color: mix($color, #ccc)
    border-color: mix($color, #ccc)


// Form

@mixin label($font-size: 14px, $padding: 5px 0px 5px 0, $margin: 0px 10px 0px 10px)
  display: inline-block
  padding: $padding
  margin: $margin
  line-height: 1.5

@mixin input-shape($font-size: 14px, $padding: 4px 8px 4px 8px, $radius: 4px)
  display: inline-block
  position: relative
  padding: $padding
  margin: 0
  border-radius: $radius
  font-size: $font-size
  line-height: 1.5
  &.disabled
    cursor: default

@mixin input-color($background-color: #fff, $color: #333)
  background: $background-color
  color: $color
  border-width: 1px
  border-style: solid
  border-color: lighten($color, 60%)
  outline: none
  &:hover,
  &:focus,
  &:active,
  &.active
    border-color: lighten($color, 30%)
  &.disabled
    background: lighten($color, 75%)
    color: lighten($color, 10%)
    border-color: lighten($color, 75%)

@mixin placeholder-color($color)
  &:-moz-placeholder
    color:$color
  &::-webkit-input-placeholder
    color:$color

@mixin select-shape($font-size: 14px, $padding: 4px 8px 4px 8px, $radius: 4px)
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  display: inline-block
  padding: $padding
  margin: 0
  font-size: $font-size
  line-height: 1.5
  vertical-align: middle

@mixin select-color($background-color: #fff, $color: #333)
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  background: $background-color
  color: $color
  border-width: 1px
  border-style: solid
  border-color: lighten($color, 60%)
  outline: none
  &:hover,
  &:focus,
  &:active,
  &.active
    border-color: lighten($color, 30%)
  &.disabled
    background: lighten($color, 75%)
    color: lighten($color, 10%)
    border-color: lighten($color, 75%)

// Utilities

// Clearfix
@mixin clearfix()
  &:after
    content: ""
    clear: both
    display: block


// Divided content
@mixin divided-contents($space: 0, $item-name: item)
  > .#{$item-name}
    display: inline-block
    position: absolute
    top: 0
    z-index: 5
    &.left
      margin-left: $space
      left: 0
    &.right
      margin-right: $space
      right: 0
