// Variables for Rigging

// Colors

// Basic
$white: #fff
$gray-lighter: #eee
$gray-light: #ccc
$gray: #aaa
$gray-dark: #666
$gray-darker: #333
$black: #000

$red: #E55E61
$orange: #D6824C
$yellow: #e9aa25
$green: #22AA8B
$light-blue: #57B3CE
$blue: #366FAE
$purple: #7554e8


// Thema Color
$color-primary: $blue
$color-secondary: $light-blue
$color-success: $green
$color-info: $purple
$color-warning: $orange
$color-danger: $red


// Font

$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif
$font-family-serif: Georgia, "Times New Roman", Times, serif
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace


// General Variables

// Raw value
$font-size-raw: 14
$line-height-raw: 1.5
$margin-raw: 10

$text-color: $gray-darker
$link-color: $color-primary
$font-family: $font-family-sans-serif
$font-size: $font-size-raw+px
$font-weight: normal
$line-height: $line-height-raw
$margin: $margin-raw+px
$border-radius: 4px


// Media Query

$media-small:  'only screen and (max-width:480px)'
$media-middle: 'only screen and (min-width:481px) and (max-width:959px)'
$media-large:  'only screen and (min-width:960px)'
